.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*{
  font-family: 'Merriweather', serif;
}
.myNav h4{
  color: white;
  pointer-events: none;
}
table.table thead{
  color: white;
}
button.myBtn{
  text-decoration: none;
  color: white;
  transition: 0.8s ease-in-out ;
}
button.myBtn.active{
  background-color: #fff;
  position: relative;
  top: 15px;
  color: #000;
}
button.delBtn{
  background-color: darkred;
  color: white;
}
button.delBtn:hover{
  background-color: orangered;
}
button.editBtn{
  background-color:#292d3e;
  color: white;
}
button.editBtn:hover{
  background:linear-gradient(to left,#292d3e,#52597a);
  color: white;
}
button#clear{
  color: white;
}
thead.custom{
 background-color: #24292e;
}
textarea.form-control{
  resize: none;
  border-radius: 20px;
}
div.myNav{
  background-color: #24292e;
}
nav.myNav{
  background:#24292e;
}
Modal.cc{
  width: 800px;
}
.commentsDiv{
  background-color: lightgray;
  border-radius: 5px;
  border-bottom: 3px solid #24292e;
  color: black;
  opacity: 1;
}
.myNav:hover .myBtn:hover{
  color: rgb(43, 42, 42);
  animation: buttons 300ms ease-in-out 200ms 1 normal forwards;
}
.myNav:hover .myBtn.active:hover{
  animation: activeButton 300ms ease-in-out 500ms 1 normal forwards;
}
@keyframes activeButton{
  25%{
          background-color: #24292e;
          color: black;
          border-color: #24292e;
          top: 8px;
  }
  100%{
          background-color: #24292e;
          color: black;
          top: 8px;
          border-color: #24292e;
          color: white;
          text-decoration: underline;
          text-decoration-color: white;
  }
}
@keyframes buttons{
  25%{
          background-color:white;
          color: black;
          top: 15px;
  }
  100%{
          position: relative;
          top: 15px;
          background-color: white;
          color: black;
  }
}
Button.new-post{
background-color: #24292e;
  color: white;
}
Button.new-post:hover{
  background-color: white;
  color: black;
}
#post-form{
  margin: 0 auto;
  display: none;
}
#cc{
  margin:  0 auto;
  display: none;
}
div.card{
  box-shadow: 0 3px 8px #000;
  border-right: 9px solid #292d3e
}
div.card-header{
  color:white;
  background-color: #24292e;
}
span{
border-bottom: 1px solid #292d3e
}
#usersList,#postsList{
  display: none;
}
div.ll{
  border-left: 3px solid #292d3e
}
form >input,form>textarea{
 margin-top: 10px; 
 box-shadow: none;
 border-radius: 8px;
}
#clear{
  background-color: 
  #52597a;
}
@media screen and (max-width:768px)
{
  #postButton{
          margin-left:100px;
  }
  div.holder{
          position: absolute;
          top: 10%;
          left: 70%;
  }
}
@media screen and (max-width:500px)
{

  .myBtn.active,.myNav:hover .myBtn:hover,.myNav:hover .myBtn.active:hover{
          background-color: #fff;
          position: relative;
          color: #000;
  }
  .btn.myBtn{
           font-size: 10px;
  }
  #postButton{
          margin-left:50px;
  }
  body{
          border: 5px solid #ccccb3;
          border-bottom: none;
  }
  *{
          font-size: 15px;
  }
}

ul.list-group-flush{
  list-style: none;
border: 2px solid #ccccb3;
}
.commentsColor{
  background-color: #6b6b47;
}
.hidden{
  display: none;
}
a.customLink{
  color:black;
text-decoration: underline;
text-decoration-color: #000;
  transition: all 400ms ease 200ms;
}
a.customLink:hover{
  text-decoration: none;
  color:#52597a;
}
div.postDiv h5{
font-family: Poppins;
color:#fff;
margin-left: 10px
}
div.postDiv{
  margin-top: 10px;
  background-color: #24292e;
  color: white;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
p.marginSetter{
  margin-left: 10px;
}
button#comments{
background-color: #52597a;
color: white;
}
button#comments:hover{
  border-color: white;
}
button.myEdit{
  border-top-right-radius: 50px;
}
button.myDel{
  border-top-left-radius: 50px;
}